
<div class="alert alert-danger" role="alert" *ngIf="isSubmitted && errorMessage">
  {{errorMessage}}
</div>
<div class="alert alert-warning" role="warning">
  <p>Form Status: {{ statusForm.status }}</p>
  <p>{{ nameChangeMessage }}</p>
</div>
<form (ngSubmit)="onSubmit()" [formGroup]="statusForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Name" formControlName="name" minlength="2">
   <div *ngIf="statusForm.controls.name.errors?.oneCapitalLetter" class="alert alert-danger">Status name must have at least 1 upper case character</div>
  </div>
  <div class="form-group">
    <input type="checkbox" formControlName="active" id="active" class="mr-2">
    <label for="active">Active</label>
  </div>
<!--  <button type="button" class="btn btn-secondary mr-2" (click)="setDefaults()" >Set default values</button>-->
  <button type="submit" class="btn btn-primary" *ngIf="isAdd" [disabled]="!statusForm.valid || isSubmitted">Add</button>
  <button type="submit" class="btn btn-primary" *ngIf="isEdit" [disabled]="!statusForm.valid || isSubmitted">Save</button>
</form>

